.setting-container {
	width: 350px;
	padding: 10px;
	background-color: white;
	font-family: sans-serif;
}

.title {
	font-size: 15px;
	font-weight: bold;
	color: #364F6B;
}

.title-description {
	font-size: 12px;
	font-weight: lighter;
	color: #41C5D3;
}

.split {
	height: 1px;
	width: 100%;
	border: none;
	background-color: #dddddd;
}

.author-container {
	padding: 0;
	margin-bottom: 0;
	display: block;
	padding-top: 5px;
	font-size: 11px;
	color: #bbbbbb;
}

.author {
	margin-right: 5px;
	text-decoration: none;
	color: #bbbbbb;
}

.author:hover {
	text-decoration: underline;
	color: #777777;
}

.area-container {
	margin-top: 10px;
	width: 348px;
	height: 100px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

#txt-source {
	resize: none;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	font-family: sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.trans-container {
	margin-top: 10px;
	width: 100%;
	height: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #f1f2f3;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.display {
	margin: 0;
}

#trans-text {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#trans-speech {
	vertical-align: middle;
	font-size: 12px;
	background: #333;
	color: white;
	padding: 3px 10px;
	border-radius: 5px;
	display: inline-block;
}

#trans-voice {
	width: 16px;
	height: 16px;
	display: inline;
	vertical-align: middle;
	padding: 5px;
	cursor: pointer;
}

#trans-voice:hover {
	background: #ddd;
	border-radius: 50%;
}

#trans-info {
	margin-top: 10px;
	font-size: 13px;
}

select {
	vertical-align: middle;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: white;
}

select:focus {
	outline: none;
}

#lang-switch {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;	
	padding: 5px;
	cursor: pointer;
}

#lang-switch:hover {
	background: #ddd;
	border-radius: 50%;
}